/* 全体 */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* タイトル画面 */
#title-screen{
    text-align:center;
}

/* タイトル */
h1{
    font-size:64px;
    color:#4fc3ff;
    text-shadow:
        0 0 10px #4fc3ff,
        0 0 20px #4fc3ff,
        0 0 40px #4fc3ff;
    margin-bottom:20px;
}

/* サブタイトル */
.subtitle{
    font-size:24px;
    margin-bottom:50px;
}

/* TAP TO START */
#tap{
    font-size:30px;
    animation:blink 1.2s infinite;
}

/* 点滅 */
@keyframes blink{
    0%{
        opacity:1;
    }
    50%{
        opacity:0.2;
    }
    100%{
        opacity:1;
    }
}
.menu-btn{
    width:260px;
    padding:15px;
    margin:10px auto;
    display:block;
    font-size:22px;
    border:none;
    border-radius:12px;
    background:#4fc3ff;
    color:white;
    cursor:pointer;
    transition:0.2s;
}

.menu-btn:hover{
    transform:scale(1.05);
}
#logo{
    width:95%;
    max-width:800px;
    display:block;
    margin:0 auto 20px;
    animation:logoFade 0.8s ease,
              float 3s ease-in-out infinite;
}

@keyframes logoFade{
    from{
        opacity:0;
        transform:scale(0.8);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}
@keyframes float{
    0%{
        transform:translateY(0px);
    }
    50%{
        transform:translateY(-8px);
    }
    100%{
        transform:translateY(0px);
    }
}